.el-checkbox {
  margin-right: 1rem;
}

.el-checkbox__inner,
.el-checkbox__input.is-disabled .el-checkbox__inner,
.el-checkbox__input.is-disabled.is-checked .el-checkbox__inner {
  border-color: rgb(128, 128, 128);
  background-color: rgba(64, 64, 64, 0.75);
}
.el-checkbox__input.is-checked .el-checkbox__inner,
.el-checkbox__input.is-indeterminate .el-checkbox__inner {
  border-color: rgb(0, 128, 64);
  background-color: rgb(0, 128, 64);
}

.el-checkbox__input + .el-checkbox__label {
  font-size: 0.75rem;
  padding-left: 0.25rem;
  line-height: 1.5rem;
}
.el-checkbox__input + .el-checkbox__label,
.el-checkbox__input.is-disabled + span.el-checkbox__label {
  color: rgb(128, 128, 128);
}
.el-checkbox__input.is-checked + .el-checkbox__label {
  color: rgb(0, 128, 64);
}
