.el-dialog {
  margin: unset!important;
  background-color: rgba(32,32,32,.9);
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  width: auto;
  padding: 0 1rem 1rem 1rem;
}

.el-dialog__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.el-dialog__title {
  color: rgb(216, 216, 216);
  font-size: 1.25rem;
  font-family: 'Ma Shan Zheng', cursive;
}

.el-dialog__body {
  display: flex;
  justify-content: center;
  padding: 0 !important;
  color: rgb(192, 192, 192);
}
