.el-tooltip__popper.is-dark {
  color: rgb(216, 216, 216);
  background: rgb(32, 32, 32);
}

.el-tooltip__popper[x-placement^=top] .popper__arrow,
.el-tooltip__popper[x-placement^=top] .popper__arrow::after {
  border-top-color: rgb(32, 32, 32);
}

.el-tooltip__popper[x-placement^=right] .popper__arrow,
.el-tooltip__popper[x-placement^=right] .popper__arrow::after {
  border-right-color: rgb(32, 32, 32);
}

.el-tooltip__popper[x-placement^=bottom] .popper__arrow,
.el-tooltip__popper[x-placement^=bottom] .popper__arrow::after {
  border-bottom-color: rgb(32, 32, 32);
}

.el-tooltip__popper[x-placement^=left] .popper__arrow,
.el-tooltip__popper[x-placement^=left] .popper__arrow::after {
  border-left-color: rgb(32, 32, 32);
}
