
.font-cursive {
  font-family: 'Ma Shan Zheng', cursive !important;
}
.font-monospace {
  font-family: monospace !important;
}

.red-text{color:rgb(250,100,100)}
.green-text{color:rgb(50,150,50)}
.yellow-text{color:rgb(250,250,100)}

.unselectable {
  user-select: none;
}
.selectable {
  user-select: text;
}
.cursor-pointer {
  cursor: pointer;
}

.line-h-3{line-height:12px}
.line-h-4{line-height:16px}
.line-h-5{line-height:20px}
.line-h-6{line-height:24px}
.line-h-7{line-height:28px}
.line-h-8{line-height:32px}
.line-h-9{line-height:36px}
.line-h-10{line-height:40px}
.line-h-11{line-height:44px}
.line-h-12{line-height:48px}
.line-h-13{line-height:52px}
.line-h-14{line-height:56px}
.line-h-15{line-height:60px}
.line-h-16{line-height:64px}

.font-3{font-size:12px}
.font-4{font-size:16px}
.font-5{font-size:20px}
.font-6{font-size:24px}
.font-7{font-size:28px}
.font-8{font-size:32px}
.font-9{font-size:36px}
.font-10{font-size:40px}
.font-11{font-size:44px}
.font-12{font-size:48px}
.font-13{font-size:52px}
.font-14{font-size:56px}
.font-15{font-size:60px}
.font-16{font-size:64px}

.text-align-left{text-align:left}
.text-align-right{text-align:right}
.text-align-center{text-align:center}

.d-inline{display:inline}
.d-block{display:block}
.d-inline-block{display:inline-block}
.d-none{display:none}
.d-flex{display:flex}

.flex-row{flex-direction:row}
.flex-row-reverse{flex-direction:row-reverse}
.flex-column{flex-direction:column}
.flex-column-reverse{flex-direction:column-reverse}

.flex-nowrap{flex-wrap:nowrap}
.flex-wrap{flex-wrap:wrap}
.flex-wrap-reverse{flex-wrap:wrap-reverse}

.justify-start{justify-content:start}
.jusify-end{justify-content:end}
.justify-center{justify-content:center}
.justify-space-between{justify-content:space-between}
.justify-space-around{justify-content:space-around}

.align-start{align-items:start}
.align-end{align-items:end}
.align-center{align-items:center}
.align-baseline{align-items:baseline}
.align-stretch{align-items:stretch}

.flex-0-0{flex:0 0 auto}
.flex-1-0{flex:1 0 auto}
.flex-0-1{flex:0 1 auto}
.flex-1-1{flex:1 1 auto}

.ma-0{margin:0}
.ma-1{margin:4px}
.ma-2{margin:8px}
.ma-3{margin:12px}
.ma-4{margin:16px}
.ma-5{margin:20px}
.ma-6{margin:24px}
.ma-7{margin:28px}
.ma-8{margin:32px}
.ma-9{margin:36px}
.ma-10{margin:40px}
.ma-11{margin:44px}
.ma-12{margin:48px}
.ma-13{margin:52px}
.ma-14{margin:56px}
.ma-15{margin:60px}
.ma-16{margin:64px}
.ma-auto{margin:auto}

.mx-0{margin-right:0;margin-left:0}
.mx-1{margin-right:4px;margin-left:4px}
.mx-2{margin-right:8px;margin-left:8px}
.mx-3{margin-right:12px;margin-left:12px}
.mx-4{margin-right:16px;margin-left:16px}
.mx-5{margin-right:20px;margin-left:20px}
.mx-6{margin-right:24px;margin-left:24px}
.mx-7{margin-right:28px;margin-left:28px}
.mx-8{margin-right:32px;margin-left:32px}
.mx-9{margin-right:36px;margin-left:36px}
.mx-10{margin-right:40px;margin-left:40px}
.mx-11{margin-right:44px;margin-left:44px}
.mx-12{margin-right:48px;margin-left:48px}
.mx-13{margin-right:52px;margin-left:52px}
.mx-14{margin-right:56px;margin-left:56px}
.mx-15{margin-right:60px;margin-left:60px}
.mx-16{margin-right:64px;margin-left:64px}
.mx-auto{margin-right:auto;margin-left:auto}

.my-0{margin-top:0;margin-bottom:0}
.my-1{margin-top:4px;margin-bottom:4px}
.my-2{margin-top:8px;margin-bottom:8px}
.my-3{margin-top:12px;margin-bottom:12px}
.my-4{margin-top:16px;margin-bottom:16px}
.my-5{margin-top:20px;margin-bottom:20px}
.my-6{margin-top:24px;margin-bottom:24px}
.my-7{margin-top:28px;margin-bottom:28px}
.my-8{margin-top:32px;margin-bottom:32px}
.my-9{margin-top:36px;margin-bottom:36px}
.my-10{margin-top:40px;margin-bottom:40px}
.my-11{margin-top:44px;margin-bottom:44px}
.my-12{margin-top:48px;margin-bottom:48px}
.my-13{margin-top:52px;margin-bottom:52px}
.my-14{margin-top:56px;margin-bottom:56px}
.my-15{margin-top:60px;margin-bottom:60px}
.my-16{margin-top:64px;margin-bottom:64px}
.my-auto{margin-top:auto;margin-bottom:auto}

.mt-0{margin-top:0}
.mt-1{margin-top:4px}
.mt-2{margin-top:8px}
.mt-3{margin-top:12px}
.mt-4{margin-top:16px}
.mt-5{margin-top:20px}
.mt-6{margin-top:24px}
.mt-7{margin-top:28px}
.mt-8{margin-top:32px}
.mt-9{margin-top:36px}
.mt-10{margin-top:40px}
.mt-11{margin-top:44px}
.mt-12{margin-top:48px}
.mt-13{margin-top:52px}
.mt-14{margin-top:56px}
.mt-15{margin-top:60px}
.mt-16{margin-top:64px}
.mt-auto{margin-top:auto}

.mr-0{margin-right:0}
.mr-1{margin-right:4px}
.mr-2{margin-right:8px}
.mr-3{margin-right:12px}
.mr-4{margin-right:16px}
.mr-5{margin-right:20px}
.mr-6{margin-right:24px}
.mr-7{margin-right:28px}
.mr-8{margin-right:32px}
.mr-9{margin-right:36px}
.mr-10{margin-right:40px}
.mr-11{margin-right:44px}
.mr-12{margin-right:48px}
.mr-13{margin-right:52px}
.mr-14{margin-right:56px}
.mr-15{margin-right:60px}
.mr-16{margin-right:64px}
.mr-auto{margin-right:auto}

.mb-0{margin-bottom:0}
.mb-1{margin-bottom:4px}
.mb-2{margin-bottom:8px}
.mb-3{margin-bottom:12px}
.mb-4{margin-bottom:16px}
.mb-5{margin-bottom:20px}
.mb-6{margin-bottom:24px}
.mb-7{margin-bottom:28px}
.mb-8{margin-bottom:32px}
.mb-9{margin-bottom:36px}
.mb-10{margin-bottom:40px}
.mb-11{margin-bottom:44px}
.mb-12{margin-bottom:48px}
.mb-13{margin-bottom:52px}
.mb-14{margin-bottom:56px}
.mb-15{margin-bottom:60px}
.mb-16{margin-bottom:64px}
.mb-auto{margin-bottom:auto}

.ml-0{margin-left:0}
.ml-1{margin-left:4px}
.ml-2{margin-left:8px}
.ml-3{margin-left:12px}
.ml-4{margin-left:16px}
.ml-5{margin-left:20px}
.ml-6{margin-left:24px}
.ml-7{margin-left:28px}
.ml-8{margin-left:32px}
.ml-9{margin-left:36px}
.ml-10{margin-left:40px}
.ml-11{margin-left:44px}
.ml-12{margin-left:48px}
.ml-13{margin-left:52px}
.ml-14{margin-left:56px}
.ml-15{margin-left:60px}
.ml-16{margin-left:64px}
.ml-auto{margin-left:auto}

.ma-n1{margin:-4px}
.ma-n2{margin:-8px}
.ma-n3{margin:-12px}
.ma-n4{margin:-16px}
.ma-n5{margin:-20px}
.ma-n6{margin:-24px}
.ma-n7{margin:-28px}
.ma-n8{margin:-32px}
.ma-n9{margin:-36px}
.ma-n10{margin:-40px}
.ma-n11{margin:-44px}
.ma-n12{margin:-48px}
.ma-n13{margin:-52px}
.ma-n14{margin:-56px}
.ma-n15{margin:-60px}
.ma-n16{margin:-64px}

.mx-n1{margin-right:-4px;margin-left:-4px}
.mx-n2{margin-right:-8px;margin-left:-8px}
.mx-n3{margin-right:-12px;margin-left:-12px}
.mx-n4{margin-right:-16px;margin-left:-16px}
.mx-n5{margin-right:-20px;margin-left:-20px}
.mx-n6{margin-right:-24px;margin-left:-24px}
.mx-n7{margin-right:-28px;margin-left:-28px}
.mx-n8{margin-right:-32px;margin-left:-32px}
.mx-n9{margin-right:-36px;margin-left:-36px}
.mx-n10{margin-right:-40px;margin-left:-40px}
.mx-n11{margin-right:-44px;margin-left:-44px}
.mx-n12{margin-right:-48px;margin-left:-48px}
.mx-n13{margin-right:-52px;margin-left:-52px}
.mx-n14{margin-right:-56px;margin-left:-56px}
.mx-n15{margin-right:-60px;margin-left:-60px}
.mx-n16{margin-right:-64px;margin-left:-64px}

.my-n1{margin-top:-4px;margin-bottom:-4px}
.my-n2{margin-top:-8px;margin-bottom:-8px}
.my-n3{margin-top:-12px;margin-bottom:-12px}
.my-n4{margin-top:-16px;margin-bottom:-16px}
.my-n5{margin-top:-20px;margin-bottom:-20px}
.my-n6{margin-top:-24px;margin-bottom:-24px}
.my-n7{margin-top:-28px;margin-bottom:-28px}
.my-n8{margin-top:-32px;margin-bottom:-32px}
.my-n9{margin-top:-36px;margin-bottom:-36px}
.my-n10{margin-top:-40px;margin-bottom:-40px}
.my-n11{margin-top:-44px;margin-bottom:-44px}
.my-n12{margin-top:-48px;margin-bottom:-48px}
.my-n13{margin-top:-52px;margin-bottom:-52px}
.my-n14{margin-top:-56px;margin-bottom:-56px}
.my-n15{margin-top:-60px;margin-bottom:-60px}
.my-n16{margin-top:-64px;margin-bottom:-64px}

.mt-n1{margin-top:-4px}
.mt-n2{margin-top:-8px}
.mt-n3{margin-top:-12px}
.mt-n4{margin-top:-16px}
.mt-n5{margin-top:-20px}
.mt-n6{margin-top:-24px}
.mt-n7{margin-top:-28px}
.mt-n8{margin-top:-32px}
.mt-n9{margin-top:-36px}
.mt-n10{margin-top:-40px}
.mt-n11{margin-top:-44px}
.mt-n12{margin-top:-48px}
.mt-n13{margin-top:-52px}
.mt-n14{margin-top:-56px}
.mt-n15{margin-top:-60px}
.mt-n16{margin-top:-64px}

.mr-n1{margin-right:-4px}
.mr-n2{margin-right:-8px}
.mr-n3{margin-right:-12px}
.mr-n4{margin-right:-16px}
.mr-n5{margin-right:-20px}
.mr-n6{margin-right:-24px}
.mr-n7{margin-right:-28px}
.mr-n8{margin-right:-32px}
.mr-n9{margin-right:-36px}
.mr-n10{margin-right:-40px}
.mr-n11{margin-right:-44px}
.mr-n12{margin-right:-48px}
.mr-n13{margin-right:-52px}
.mr-n14{margin-right:-56px}
.mr-n15{margin-right:-60px}
.mr-n16{margin-right:-64px}

.mb-n1{margin-bottom:-4px}
.mb-n2{margin-bottom:-8px}
.mb-n3{margin-bottom:-12px}
.mb-n4{margin-bottom:-16px}
.mb-n5{margin-bottom:-20px}
.mb-n6{margin-bottom:-24px}
.mb-n7{margin-bottom:-28px}
.mb-n8{margin-bottom:-32px}
.mb-n9{margin-bottom:-36px}
.mb-n10{margin-bottom:-40px}
.mb-n11{margin-bottom:-44px}
.mb-n12{margin-bottom:-48px}
.mb-n13{margin-bottom:-52px}
.mb-n14{margin-bottom:-56px}
.mb-n15{margin-bottom:-60px}
.mb-n16{margin-bottom:-64px}

.ml-n1{margin-left:-4px}
.ml-n2{margin-left:-8px}
.ml-n3{margin-left:-12px}
.ml-n4{margin-left:-16px}
.ml-n5{margin-left:-20px}
.ml-n6{margin-left:-24px}
.ml-n7{margin-left:-28px}
.ml-n8{margin-left:-32px}
.ml-n9{margin-left:-36px}
.ml-n10{margin-left:-40px}
.ml-n11{margin-left:-44px}
.ml-n12{margin-left:-48px}
.ml-n13{margin-left:-52px}
.ml-n14{margin-left:-56px}
.ml-n15{margin-left:-60px}
.ml-n16{margin-left:-64px}

.pa-0{padding:0}
.pa-1{padding:4px}
.pa-2{padding:8px}
.pa-3{padding:12px}
.pa-4{padding:16px}
.pa-5{padding:20px}
.pa-6{padding:24px}
.pa-7{padding:28px}
.pa-8{padding:32px}
.pa-9{padding:36px}
.pa-10{padding:40px}
.pa-11{padding:44px}
.pa-12{padding:48px}
.pa-13{padding:52px}
.pa-14{padding:56px}
.pa-15{padding:60px}
.pa-16{padding:64px}

.px-0{padding-right:0;padding-left:0}
.px-1{padding-right:4px;padding-left:4px}
.px-2{padding-right:8px;padding-left:8px}
.px-3{padding-right:12px;padding-left:12px}
.px-4{padding-right:16px;padding-left:16px}
.px-5{padding-right:20px;padding-left:20px}
.px-6{padding-right:24px;padding-left:24px}
.px-7{padding-right:28px;padding-left:28px}
.px-8{padding-right:32px;padding-left:32px}
.px-9{padding-right:36px;padding-left:36px}
.px-10{padding-right:40px;padding-left:40px}
.px-11{padding-right:44px;padding-left:44px}
.px-12{padding-right:48px;padding-left:48px}
.px-13{padding-right:52px;padding-left:52px}
.px-14{padding-right:56px;padding-left:56px}
.px-15{padding-right:60px;padding-left:60px}
.px-16{padding-right:64px;padding-left:64px}

.py-0{padding-top:0;padding-bottom:0}
.py-1{padding-top:4px;padding-bottom:4px}
.py-2{padding-top:8px;padding-bottom:8px}
.py-3{padding-top:12px;padding-bottom:12px}
.py-4{padding-top:16px;padding-bottom:16px}
.py-5{padding-top:20px;padding-bottom:20px}
.py-6{padding-top:24px;padding-bottom:24px}
.py-7{padding-top:28px;padding-bottom:28px}
.py-8{padding-top:32px;padding-bottom:32px}
.py-9{padding-top:36px;padding-bottom:36px}
.py-10{padding-top:40px;padding-bottom:40px}
.py-11{padding-top:44px;padding-bottom:44px}
.py-12{padding-top:48px;padding-bottom:48px}
.py-13{padding-top:52px;padding-bottom:52px}
.py-14{padding-top:56px;padding-bottom:56px}
.py-15{padding-top:60px;padding-bottom:60px}
.py-16{padding-top:64px;padding-bottom:64px}

.pt-0{padding-top:0}
.pt-1{padding-top:4px}
.pt-2{padding-top:8px}
.pt-3{padding-top:12px}
.pt-4{padding-top:16px}
.pt-5{padding-top:20px}
.pt-6{padding-top:24px}
.pt-7{padding-top:28px}
.pt-8{padding-top:32px}
.pt-9{padding-top:36px}
.pt-10{padding-top:40px}
.pt-11{padding-top:44px}
.pt-12{padding-top:48px}
.pt-13{padding-top:52px}
.pt-14{padding-top:56px}
.pt-15{padding-top:60px}
.pt-16{padding-top:64px}

.pr-0{padding-right:0}
.pr-1{padding-right:4px}
.pr-2{padding-right:8px}
.pr-3{padding-right:12px}
.pr-4{padding-right:16px}
.pr-5{padding-right:20px}
.pr-6{padding-right:24px}
.pr-7{padding-right:28px}
.pr-8{padding-right:32px}
.pr-9{padding-right:36px}
.pr-10{padding-right:40px}
.pr-11{padding-right:44px}
.pr-12{padding-right:48px}
.pr-13{padding-right:52px}
.pr-14{padding-right:56px}
.pr-15{padding-right:60px}
.pr-16{padding-right:64px}

.pb-0{padding-bottom:0}
.pb-1{padding-bottom:4px}
.pb-2{padding-bottom:8px}
.pb-3{padding-bottom:12px}
.pb-4{padding-bottom:16px}
.pb-5{padding-bottom:20px}
.pb-6{padding-bottom:24px}
.pb-7{padding-bottom:28px}
.pb-8{padding-bottom:32px}
.pb-9{padding-bottom:36px}
.pb-10{padding-bottom:40px}
.pb-11{padding-bottom:44px}
.pb-12{padding-bottom:48px}
.pb-13{padding-bottom:52px}
.pb-14{padding-bottom:56px}
.pb-15{padding-bottom:60px}
.pb-16{padding-bottom:64px}

.pl-0{padding-left:0}
.pl-1{padding-left:4px}
.pl-2{padding-left:8px}
.pl-3{padding-left:12px}
.pl-4{padding-left:16px}
.pl-5{padding-left:20px}
.pl-6{padding-left:24px}
.pl-7{padding-left:28px}
.pl-8{padding-left:32px}
.pl-9{padding-left:36px}
.pl-10{padding-left:40px}
.pl-11{padding-left:44px}
.pl-12{padding-left:48px}
.pl-13{padding-left:52px}
.pl-14{padding-left:56px}
.pl-15{padding-left:60px}
.pl-16{padding-left:64px}
