:root {
  --bg: #202020;
  --bg-dark: #181818;
  --bg-darker: #101010;

  --text: #d8d8d8;
  --text-dark: #a8a8a8;
  --text-darker: #888888;
}

body {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  width: 100%;
}

.login-content {
  order: 0;
  flex: 1 0 auto;
  width: 100%;
}
.container {
  order: 2;
  flex: 1 0 auto;
  width: 370px;
  margin: 0;
  background-color: var(--bg-darker);
}


.valkyrie-sidebar {
  width: 360px;
  height: 100%;
  flex: 0 0 auto;
  margin: 0;
  color: var(--text);
  background-color: var(--bg-dark);
}
.valkyrie-sidebar header {
  font-size: 1em;
  line-height: 2em;
  height: 2em !important;

  color: var(--text);
  background-color: var(--bg);
}

#valkyrie-left {
  order: 1;
}
#valkyrie-right {
  order: 3;
}

.valkyrie-sidebar .el-card {
  border: 1px solid #ebeef5;
  background-color: var(--bg);
  color: var(--text-dark);
}

