.show-panel-enter-active, .show-panel-leave-active {
  transition: all .5s ease;
}
.show-panel-enter-from, .show-panel-leave-to {
  opacity: 0.1;
  margin: 0;
  padding: 0;
  max-height: 0;
}
.show-panel-enter-to, .show-panel-leave-from {
  opacity: 0.9;
  max-height: 25rem;
}
