.v-background {
  width: 100%;
  height: 100%;
  z-index: -1;
  position: absolute;
  background-color: rgba(64, 64, 64, 1);
  background-image: url(https://cdn.jsdelivr.net/gh/coderzhaoziwei/Valkyrie@main/source/image/yande%23726730.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
