.v-button,
.item-commands > span[cmd],
.item-commands > span.disabled,
.room-commands > .act-item,
.combat-commands > .pfm-item {
  font-size: 0.75rem;
  min-width: 1rem;
  line-height: 1.5rem;
  padding: 0 0.5rem;
  margin: 0 0 0.25rem 0.5rem;
  border-radius: 0.25rem;

  color: rgb(216, 216, 216);
  border: 1px solid rgba(64, 64, 64);
  background-color: rgba(0, 0, 0, 0.5);

  cursor: pointer;
  text-align: center;
  user-select: none;
}
.v-button:hover,
.item-commands > span[cmd]:hover,
.room-commands > .act-item:hover,
.combat-commands > .pfm-item:hover {
  color: rgb(216, 216, 216);
  background-color: rgba(0, 128, 64, 0.25);
}
.v-button:active,
.item-commands > span[cmd]:active,
.room-commands > .act-item:active,
.combat-commands > .pfm-item:active {
  transform: translateY(1px);
  color: rgb(216, 216, 216);
  background-color: rgba(0, 128, 64, 0.5);
}

.item-commands {
  padding-bottom: 0.25rem;
}
