.v-score {
  display: flex;
  flex-direction: column;
  padding: 0.5em;
  overflow: hidden;
}

.v-score > .v-score-row {
  display: flex;
  flex-direction: row;

  font-size: 1.25em;
  height: 1.5em;
  line-height: 1.5em;
}
.v-score > .v-score-row > .v-score-title {
  flex: 0 0 auto;
  padding: 0 0.5em;
  text-align: center;
}
.v-score > .v-score-row > .v-score-value {
  flex: 0 0 auto;
  width: 9em;
  text-align: left;
  font-family: monospace;
}

.v-percentage {
  padding: 0 0.5em;
}
.v-percentage .el-progress-bar__outer {
  background-color: rgba(128, 128, 128, 0.5);
  border-radius: 0.25em;
}
.v-percentage .el-progress-bar__inner {
  border-radius: 0.25em;
}
.v-percentage .el-progress-bar__innerText {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  color: rgb(216, 216, 216, 0.9);
  line-height: 16px;
}
.v-percentage.v-percentage-mp {
  margin-bottom: 0.25em;
}
.v-percentage.v-percentage-hp .el-progress-bar__inner {
  background-color: rgba(255, 0, 0, 0.5);
}
.v-percentage.v-percentage-mp .el-progress-bar__inner {
  background-color: rgba(0, 0, 255, 0.5);
}
.v-percentage.v-percentage-hp .el-progress-bar__innerText::before {
  content: '气血 ';
}
.v-percentage.v-percentage-mp .el-progress-bar__innerText::before {
  content: '内力 ';
}
