.v-sidebar {
  margin: 0;
  flex: 0 1 auto;
  color: rgb(216, 216, 216);
  width: 16em;
}

.v-sidebar-left {
  order: 1;
}
.v-sidebar-right {
  order: 3;
}

.v-sidebar > .v-sidebar-inner {
  display: flex;
  flex-wrap: nowrap;
  overflow-y: scroll;
  flex-direction: column;

  height: 100%;

  position: relative;
}
