<teleport to=".v-sidebar-left">
  <div class="v-sidebar-inner unselectable" v-show="showSidebarLeft">
    <!-- 角色 -->
    <div class="v-header">
      <div>
        <span class="font-cursive" v-text="name"></span>
        <i v-if="genderValue===0" style="padding-left: 0.5em;" class="el-icon-female"></i>
        <i v-if="genderValue===1" style="padding-left: 0.5em;" class="el-icon-male"></i>
      </div>
      <div>
        <i class="el-icon-menu mr-2"></i>
        <i
          class="cursor-pointer"
          :class="options.showPanelScore ? `el-icon-caret-bottom` : `el-icon-caret-right`"
          @click="options.showPanelScore = !options.showPanelScore"
        ></i>
      </div>
    </div>
    <transition name="show-panel">
      <div class="v-score" v-show="options.showPanelScore">
        <!-- 境界 门派 -->
        <div class="v-score-row">
          <div class="v-score-title font-cursive" v-html="score.level"></div>
          <div class="v-score-value font-cursive" v-text="score.family"></div>
        </div>
        <!-- 气血 -->
        <el-progress class="v-percentage v-percentage-hp" :text-inside="true" :stroke-width="16" :percentage="hpPercentage"
        ></el-progress>
        <!-- 内力 -->
        <el-progress class="v-percentage v-percentage-mp" :text-inside="true" :stroke-width="16" :percentage="mpPercentage"
        ></el-progress>
        <!-- 经验 -->
        <div class="v-score-row">
          <div class="v-score-title font-cursive">经验</div>
          <div class="v-score-value" v-text="Number(jy.toFixed()).toLocaleString()"></div>
        </div>
        <!-- 潜能 -->
        <div class="v-score-row">
          <div class="v-score-title font-cursive">潜能</div>
          <div class="v-score-value" v-text="Number(qn.toFixed()).toLocaleString()"></div>
        </div>
      </div>
    </transition>

    <!-- 任务 -->
    <div class="v-header">
      <div>
        <span class="font-cursive">任务</span>
      </div>
      <i class="el-icon-setting"></i>
    </div>
    <div class="font-4 font-cursive line-h-4 px-4">
      <!-- 请安 -->
      <div class="d-flex py-1" :class="!qaValue ? 'red-text' : 'green-text'" v-show="!qaValue">
        <div class="flex-0-0">日常请安</div>
        <div class="flex-1-0 text-align-right" v-text="xyValue ? '已完成' : '未完成'"></div>
      </div>
      <!-- 师门 -->
      <div class="d-flex py-1" :class="smCount < 20 ? 'red-text' : 'green-text'">
        <div class="flex-0-0">日常师门</div>
        <div class="flex-1-0 font-monospace text-align-right">{{smCount}}/20/{{smTotal}}</div>
      </div>
      <div class="d-flex py-1" :class="smTarget ? 'red-text' : 'green-text'" v-show="smTarget">
        <div class="flex-0-0">师门目标</div>
        <div class="flex-1-0 text-align-right" v-html="smTarget"></div>
      </div>
      <!-- 追捕 -->
      <div class="d-flex py-1" :class="ymCount < 20 ? 'red-text' : 'green-text'">
        <div class="flex-0-0">日常追捕</div>
        <div class="flex-1-0 font-monospace text-align-right">{{ymCount}}/20/{{ymTotal}}</div>
      </div>
      <div class="d-flex py-1" :class="ymTarget ? 'red-text' : 'green-text'" v-show="ymTarget">
        <div class="flex-0-0">追捕目标</div>
        <div class="flex-1-0 text-align-right">
          <span>{{ymTargetX}} {{ymTargetY}}</span>
          <span class="yellow-text pl-2">{{ymTarget}}</span>
        </div>
      </div>
      <!-- 副本 -->
      <div class="d-flex py-1" :class="fbCount < 20 ? 'red-text' : 'green-text'">
        <div class="flex-0-0">日常副本</div>
        <div class="flex-1-0 font-monospace text-align-right">{{fbCount}}/20</div>
      </div>
      <!-- 武道塔 -->
      <div class="d-flex py-1" :class="!wdValue || wdCount < wdTotal ? 'red-text' : 'green-text'">
        <div class="flex-0-0">日常武道</div>
        <div class="flex-1-0 text-align-right">
          <span>{{wdValue?'':'可重置'}}</span>
          <span class="font-monospace pl-2">{{wdCount}}/{{wdTotal}}</span>
        </div>
      </div>
      <!-- 运镖 -->
      <div class="d-flex py-1" :class="ybCount < 20 ? 'red-text' : 'green-text'">
        <div class="flex-0-0">周常运镖</div>
        <div class="flex-1-0 font-monospace text-align-right">{{ybCount}}/20/{{ybTotal}}</div>
      </div>
      <!-- 襄阳战 -->
      <div class="d-flex py-1" :class="!xyValue ? 'red-text' : 'green-text'">
        <div class="flex-0-0">周常襄阳</div>
        <div class="flex-1-0 text-align-right" v-text="xyValue ? '已完成' : '未完成'"></div>
      </div>
      <!-- 门派 BOSS -->
      <div class="d-flex py-1" :class="!mpValue ? 'red-text' : 'green-text'">
        <div class="flex-0-0">周常门派</div>
        <div class="flex-1-0 text-align-right" v-text="mpValue ? '已完成' : '未完成'"></div>
      </div>
    </div>
    <!-- 功能 -->
    <div class="d-flex flex-wrap font-4 font-cursive px-4 py-1">
      <span class="span-button flex-1-0 mx-1" @click="autoWaKuang()">挖矿</span>
      <span class="span-button flex-1-0 mx-1" @click="actionXiuLian()">修炼</span>
      <span class="span-button flex-1-0 mx-1" @click="actionWuMiao()">武庙</span>
      <span class="span-button flex-1-0 mx-1" @click="clearUpPackage()">整理背包</span>
      <span class="span-button flex-1-0 mx-1">〇〇〇〇</span>
      <span class="span-button flex-1-0 mx-1">〇〇〇〇</span>
      <span class="span-button flex-1-0 mx-1">〇〇〇〇</span>
      <span class="span-button flex-1-0 mx-1">〇〇〇〇</span>
      <!-- 出招配置 -->
    </div>

  </div>
</teleport>
