<teleport to=".v-sidebar-left">
  <div class="v-sidebar-inner unselectable" v-show="showSidebarLeft">
    <!-- 角色 -->
    <div class="v-header">
      <div>
        <span class="font-cursive mr-2" v-text="cache.role.name"></span>
        <i v-if="cache.genderValue===0" class="el-icon-female"></i>
        <i v-else-if="cache.genderValue===1" class="el-icon-male"></i>
        <i v-else class="el-icon-cherry"></i>
      </div>
      <div>
        <i class="el-icon-menu cursor-pointer mr-2"></i>
        <i
          class="cursor-pointer"
          :class="options.showPanelScore ? `el-icon-caret-bottom` : `el-icon-caret-right`"
          @click="options.showPanelScore = !options.showPanelScore"
        ></i>
      </div>
    </div>
    <transition name="show-panel">
      <div class="v-score" v-show="options.showPanelScore">
        <!-- 境界 门派 -->
        <div class="v-score-row">
          <div class="v-score-title font-cursive" v-html="cache.score.level"></div>
          <div class="v-score-value font-cursive" v-text="cache.score.family"></div>
        </div>
        <!-- 气血 -->
        <el-progress class="v-percentage v-percentage-hp" :text-inside="true" :stroke-width="16" :percentage="cache.hpPercentage"
        ></el-progress>
        <!-- 内力 -->
        <el-progress class="v-percentage v-percentage-mp" :text-inside="true" :stroke-width="16" :percentage="cache.mpPercentage"
        ></el-progress>
        <!-- 经验 -->
        <div class="v-score-row">
          <div class="v-score-title font-cursive">经验</div>
          <div class="v-score-value" v-text="Number(jy.toFixed()).toLocaleString()"></div>
        </div>
        <!-- 潜能 -->
        <div class="v-score-row">
          <div class="v-score-title font-cursive">潜能</div>
          <div class="v-score-value" v-text="Number(qn.toFixed()).toLocaleString()"></div>
        </div>
      </div>
    </transition>

    <!-- 任务 -->
    <div class="v-header">
      <div>
        <span class="font-cursive">任务</span>
      </div>
      <div>
        <i class="el-icon-setting cursor-pointer mr-2" @click="showTaskDialog = true"></i>
        <i
          class="cursor-pointer"
          :class="options.showPanelTask ? `el-icon-caret-bottom` : `el-icon-caret-right`"
          @click="options.showPanelTask = !options.showPanelTask"
        ></i>
      </div>
    </div>
    <transition name="show-panel">
      <div class="v-task font-cursive" v-show="options.showPanelTask">
        <!-- 请安 -->
        <div class="d-flex" :class="!cache.qaValue ? 'red-text' : 'green-text'" v-show="!cache.qaValue">
          <div class="flex-0-0">日常请安</div>
          <div class="flex-1-0 text-align-right" v-text="cache.qaValue ? '已完成' : '未完成'"></div>
        </div>
        <!-- 师门 -->
        <div class="d-flex" :class="cache.smCount < 20 ? 'red-text' : 'green-text'">
          <div class="flex-0-0">日常师门</div>
          <div class="flex-1-0 font-monospace text-align-right">{{cache.smCount}}/20/{{cache.smTotal}}</div>
        </div>
        <div class="d-flex" :class="cache.smTarget ? 'red-text' : 'green-text'" v-show="cache.smTarget">
          <div class="flex-0-0">师门目标</div>
          <div class="flex-1-0 text-align-right" v-html="cache.smTarget"></div>
        </div>
        <!-- 追捕 -->
        <div class="d-flex" :class="cache.ymCount < 20 ? 'red-text' : 'green-text'">
          <div class="flex-0-0">日常追捕</div>
          <div class="flex-1-0 font-monospace text-align-right">{{cache.ymCount}}/20/{{cache.ymTotal}}</div>
        </div>
        <div class="d-flex" :class="cache.ymTarget ? 'red-text' : 'green-text'" v-show="cache.ymTarget">
          <div class="flex-0-0">追捕目标</div>
          <div class="flex-1-0 text-align-right">
            <span>{{cache.ymTargetX}} {{cache.ymTargetY}}</span>
            <span class="yellow-text pl-2">{{cache.ymTarget}}</span>
          </div>
        </div>
        <!-- 副本 -->
        <div class="d-flex" :class="cache.fbCount < 20 ? 'red-text' : 'green-text'">
          <div class="flex-0-0">日常副本</div>
          <div class="flex-1-0 font-monospace text-align-right">{{cache.fbCount}}/20</div>
        </div>
        <!-- 武道塔 -->
        <div class="d-flex" :class="!cache.wdValue || cache.wdCount < cache.wdTotal ? 'red-text' : 'green-text'">
          <div class="flex-0-0">日常武道</div>
          <div class="flex-1-0 text-align-right">
            <span>{{cache.wdValue?'':'可重置'}}</span>
            <span class="font-monospace pl-2">{{cache.wdCount}}/{{cache.wdTotal}}</span>
          </div>
        </div>
        <!-- 运镖 -->
        <div class="d-flex" :class="cache.ybCount < 20 ? 'red-text' : 'green-text'">
          <div class="flex-0-0">周常运镖</div>
          <div class="flex-1-0 font-monospace text-align-right">{{cache.ybCount}}/20/{{cache.ybTotal}}</div>
        </div>
        <!-- 襄阳战 -->
        <div class="d-flex" :class="!cache.xyValue ? 'red-text' : 'green-text'">
          <div class="flex-0-0">周常襄阳</div>
          <div class="flex-1-0 text-align-right" v-text="cache.xyValue ? '已完成' : '未完成'"></div>
        </div>
        <!-- 门派 BOSS -->
        <div class="d-flex" :class="!cache.mpValue ? 'red-text' : 'green-text'">
          <div class="flex-0-0">周常门派</div>
          <div class="flex-1-0 text-align-right" v-text="cache.mpValue ? '已完成' : '未完成'"></div>
        </div>

        <!-- 按钮 -->
        <div class="v-button">开始日常</div>
        <div class="d-flex">
          <span class="v-button flex-1-0">襄阳战</span>
          <span class="v-button flex-1-0">运镖</span>
        </div>
        <!-- 弹窗 -->
        <el-dialog
          title="任务设置" center destroy-on-close
          :visible.sync="showTaskDialog"
          v-model:visible="showTaskDialog"
        >
          <div class="font-monospace unselectable">
            <div>师门</div>
            <el-checkbox label="自动师门" v-model="options.canTaskSm" ></el-checkbox>
            <el-checkbox label="仓库物品" :disabled="!options.canTaskSm" v-model="options.canTaskSmStore"></el-checkbox>
            <el-checkbox label="师门令牌" :disabled="!options.canTaskSm" v-model="options.canTaskSmCard"></el-checkbox>
            <div>衙门追捕</div>
            <el-checkbox label="自动追捕" v-model="options.canTaskYm"></el-checkbox>
            <el-checkbox label="元宝扫荡" :disabled="!options.canTaskYm" v-model="options.canTaskYmSweep"></el-checkbox>
          </div>
        </el-dialog>
      </div>
    </transition>

    <!-- 快捷 -->
    <div class="v-header">
      <div><span class="font-cursive">快捷</span></div>
      <div>
        <i
          class="cursor-pointer"
          :class="options.showPanelOnekey ? `el-icon-caret-bottom` : `el-icon-caret-right`"
          @click="options.showPanelOnekey = !options.showPanelOnekey"
        ></i>
      </div>
    </div>
    <transition name="show-panel">
      <div class="v-onekey d-flex flex-wrap font-cursive" v-show="options.showPanelOnekey">
        <span class="v-button flex-1-0" @click="autoWaKuang()">挖矿</span>
        <span class="v-button flex-1-0" @click="cache.xiulian()">修炼</span>
        <span class="v-button flex-1-0" @click="actionWuMiao()">武庙</span>
        <span class="v-button flex-1-0" @click="clearUpPackage()">整理背包</span>
        <!-- <span class="v-button flex-1-0 mx-1">〇〇〇〇</span>
        <span class="v-button flex-1-0 mx-1">〇〇〇〇</span>
        <span class="v-button flex-1-0 mx-1">〇〇〇〇</span>
        <span class="v-button flex-1-0 mx-1">〇〇〇〇</span> -->
      </div>
    </transition>

    <!-- 出招配置 -->
  </div>
</teleport>
